/*
 From https://github.com/emoncms/development/tree/master/Tutorials/Python/socketiowebconsole
 */
html {
    height:100%;
    font-family: 'Ubuntu Light', sans-serif;
    font-size: 18px;
}

body {
    color:#333;
    background-color:#fff;
    padding:0px;
    margin:0px;
    height:100%;
}

.block {
    padding:10px;
}

h1 { 
    color: #333;
}

h3 { 
    color: #ff2712;
    margin:0px;
}

/*
hr {
    background: #ff2712;
    border: 0; height: 1px;
}
*/

a {
    text-decoration: none;
    color:#000;
}

a:hover {
    text-decoration: none;
    color: #ff2712;
}

#left-pane {
    position: fixed;
    width:180px;
    top:0px;
    left:0px;
    height:100%;
    background-color:#eee;
}

#right-pane {
    margin-left:200px;
    height:100%;
    background-color:#fff;
}

.menu-item {
    padding-bottom:10px;
}

.menu-item-heading {
    padding-top:20px;
    padding-bottom:5px;
    font-size:14px;
    font-weight:bold;
    color:#555;
}

.console-out {
    padding:20px;
}

/*
pre {
    /* 
    Absolute method:
    
    position:absolute;
    top:100px;
    left:190px;
    bottom:20px;
    right:30px;
    */
        
    /*
    Fixed height method:
   *//*

    position:fixed;
    width:100%;
    height:400px; 
    bottom:0;
    margin-bottom:120px;
    margin:10px 0 0 0;
    padding:0px;
    font-size:16px;
    color:#fff;
    background-color:#300a24;
    overflow: scroll;
    overflow-x: hidden;
    
}
*/
.bound-config {
    width:100%;
    margin:0px;
    padding:0px;
}

textarea {
    width:100%;
    margin:0px;
    padding:20px;
    height:1400px;
    font-size: 14px;
    
}

/*
.boxsizingborder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*/ 


#debug {
    position:fixed;
    right:0;
    bottom:0;
    margin-bottom: 10px;
    z-index:1;
}
